.venv/
.idea/
__pycache__/
.pytest_cache/
dbdata/
test_dbdata/
tests/
tester/

media_cache/
import_data/
scripts/
tc_cog.py

dbconfig.py
config.yaml
creds.yaml
ids.py
docker-compose*
!docker-compose.yml
.env
rbb_bot.log*
**/temp/*.mp4
**/temp/*.gif
**/temp/*.png

notes/
